nav {
  ul {
    &.title-area {
      li {
        &.name {
          h1 {
            a {
              font-family:$logo-font;
              font-size:1.5em;
            }
          }
        }
      }
    }
  }
}
.hero {
  background:url('../images/hero.jpg') center center no-repeat;
  width:100%;
  min-height:520px;
  background-size:cover;
}
#intro {
  padding:4em 0;
  h1 {
    color:$primary-color;
    font-size:1.8em;
    font-family:$montserrat;
    font-weight:400;
  }
}
#portfolio {
  background:$primary-color;
  padding:3em 0;
  h2 {
    color:$white;
    font-size:1.4em;
  }
  .portfolio-items {
    padding:1em 0 2em;
  }
}
#contact {
  background:$gray-bg;
  padding:3em 0;
  text-align: center;
  h3 {
    color:$primary-color;
    font-family:$montserrat;
    font-size: 1.3em;
    font-weight: 400;
  }
  p {
    color:$primary-color;
    font-family: $montserrat;
    font-size: 1em;

  }

}
.portfolio-summary {
  h1 {
    color:$primary-color;
    font-size: 3.3em; 
  }
  h2 {
    color: $primary-color;
    font-size: 2.3em;
  }
  p {
    color: $primary-color;
  }
}
.portfolio-info {
  padding-top:1em;
  padding-bottom:1em;
  border-top:1px solid #333;
  border-bottom:1px solid #333;
  margin:2em 0;
  h5 {
    color: $primary-color;
    font-family: $font-family-sans-serif;
    font-size: 1em;
    span {
      font-weight:bold;
      font-size: 1em;
    }
  }
}
.portfolio-image {
  margin:2em auto;
}

.final-design {
  background:$gray-bg;
  padding:3em 0;
  text-align: center;
  h6 {
    color:$primary-color;
  }
  img {
    padding-top: 1.5em;
    padding-bottom: 2.5em;
  }
}
.links {
  text-align:left;
}
.right {
  float:right;
  text-align:right;
}